@font-face {
    font-family: 'Stretch';
    src: url('src/fonts/stretchpro/StretchPro.otf') format('opentype');
}
:root{
	--font-color: whitesmoke;
    --secondary-font-color: gray;
    --background-color: rgba(37, 37, 37, 0.5);
}
body{
    font-variant-ligatures: none;
}
.textwithenter{
    white-space: pre-line;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 22em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left: 1em;
  }
.background {
    position: relative;
    height: 95vh;
    width: 95vw;
    background: url("src/images/background.jpg");
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
}
.btn{
    margin-bottom: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    background-color: var(--background-color);
    color: var(--font-color);
    border-radius: 0.5em;
    border-color: rgba(0, 0, 0, 0);
    font-family: 'Stretch';
    font-size: larger;
    width: 100%;
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    font-variant-ligatures: none;
}
.btn-secondary{
    font-size: medium !important;
}
.btn:hover{
    background-color: rgba(100, 100, 100, 0.5);
}
.logomain {
    width: auto;
    max-width: 90%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto 1em;
    flex-shrink: 0;
    align-self: center;
}
.logosub{
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto 1em;
}
.logotitle{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    margin-bottom: 2em;
}
.presentationtitle{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0.2em;
    font-family: 'Stretch';
    color: var(--font-color);
    background-color: rgb(210, 0, 0);
    font-variant-caps: all-petite-caps;
    font-size: xx-large;
    text-align: center;
    transform: skew(-30deg);
    box-shadow: 5px 5px var(--font-color);
}
.pixlogo{
    margin-top: 4em;
    margin-bottom: 1em;
    max-width: 22%;
    margin-left: 39%;
    margin-right: 39%;
}
.post{
    margin-top: 0.5em;
    max-width: 100%;
    border-radius: 0.5em;
}
.title{
    font-family: 'Stretch';
    color: var(--font-color);
    font-variant-caps: all-petite-caps;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
.scheduletitle{
    text-align: right;
    font-family: 'Stretch';
    color: var(--font-color);
    font-variant-caps: all-petite-caps;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
.titleItems{
    display: flex;
    justify-content: space-between;
}
.details{
    font-family: system-ui, -apple-system, sans-serif !important;
    color: var(--font-color);
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    margin-top: 0.5em;
    margin-bottom: 1em;
    
}
.textcenter{
    text-align: center;
}
h1{
    font-size: xx-large;
}
.divider{
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    height: 2px;
    background-color:var(--font-color)
}
.spacer{
    margin-top: 1em;
    margin-bottom: 2em;
    max-width: 100%;
}
.backmain{
    background-color: transparent;
    border-color: transparent;
}
.comingsoon{
    font-family: 'Stretch';
    color: var(--font-color);
    font-variant-caps: all-petite-caps;
    text-align: center;
}
.madewith{
    font-family: 'Stretch';
    color: var(--secondary-font-color);
    font-size: xx-small;
    text-align: center;
    margin-top: 2em;
    text-decoration: none;
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
    opacity: .7;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(0, 0%, 20%);
    }
    100% {
        background-color: hsl(0, 0%, 90%);
    }
}

.skeleton-image{
  width: 100%;
  height: 10em;
  margin-top: 1em;
  border-radius: 0.5em;
  background: rgba(255,255,255,0.15);
  position: relative;
  overflow: hidden;
}
.post:not([src]),
.post[src=""]{
  opacity: 0;
}

.skeleton-text{
    width: 45%;
    height: 1em;
    border-radius: 0.25em;
}

.skeleton-detail{
    width: 100%;
    height: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
}


.card {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    background: var(--background-color);
    padding: 1em;
    border-radius: 0.8em;
    color: white;
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    font-variant-ligatures: none;
    border-color: var(--font-color);
    border:2px solid rgba(255,255,255,0.15);
}

.leaderboard h2 {
    text-align: center;
    margin-bottom: 0.8em;
}

.table {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border:2px solid rgba(255,255,255,0.15);
    border-radius: 1em;
    color: white;
    background-color: var(--background-color);
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    font-variant-ligatures: none;
}


.row {
    font-family: system-ui, -apple-system, sans-serif !important;
    color: var(--font-color);
    font-variant-caps: all-petite-caps;
    display: grid;
    grid-template-columns: 40px 1fr 80px;
    align-items: center;
    padding-bottom: 0.2em;
}

.table .row{
    display: grid;
    grid-template-columns: 40px 40px 1fr 80px;
    align-items: center;
    padding: 0.8em 1em;
}

.row.header {
    font-weight: bold;
    background: rgba(255,255,255,0.15);
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.row span:last-child {
    text-align: right;
}

.tribologo{
    max-width: 30px;
    
}